#root {
  width: 100%;
  text-align: left;

  header {
    nav {
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem;

        a {
          color: #fff;
        }
      }
    }
  }

  section {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      gap: 1;

      label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input {
          padding: 1rem;
        }
      }
    }
  }
}

#logo {
  color: #fff;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: -3px;
}
